<h4> ESTADÍSTICAS </h4>
<div>
	<p><span class="rem">Número total de </span>Preguntas: <strong><%= stats.pregs %></strong></p>
	<p><span class="rem">Número total de </span>Comentarios: <strong><%= stats.coms %></strong></p><p>
	<p>Promedio<span class="rem"> de comentarios por pregunta</span>: <strong><%= stats.avgComPreg %></strong></p>
	<p><span class="rem">Número de </span>Preguntas con comentarios: <strong><%= stats.pregConCom %></strong></p>
	<p><span class="rem">Número de </span>Preguntas sin comentarios: <strong><%= stats.pregSinCom %></strong></p>
</div>